<!doctype html>
    <html>
        <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            
            <title>User Sign-up</title>
            
            <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css">    <!--[if lte IE 8]>
            <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-old-ie-min.css">
            <![endif]-->
            <!--[if gt IE 8]><!-->
                <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
            <!--<![endif]-->
                <style>
                    body {
                          background-color: rgb(186, 190, 190);
                         }
                    p.error {
                             color: red;
                            }
                    
                </style>
        </head>                                                                                                                 
        <center>
        <body>
             <br>
        <h1><strong>User Sign-up</strong></h1>
        <p>Please fill in this form to create an account.</p>

        <form action="/validate" method='POST' class="pure-form pure-form-aligned">
        <fieldset>
        
        <div class="pure-control-group">
            <input name="username" placeholder="Username" type="text" value="{{username}}"/>
            <p class="error">{{username_error}}</p>
        </div>
                
        <div class="pure-control-group">
            <input name="password" placeholder="Password" type="password"value="{{password}}"/>
            <p class="error">{{password_error}}</p>
        </div>
        
        <div class="pure-control-group"></div>
            <input name="confirm_password" placeholder="Re-enter password" type="password" value="{{confirm_password}}"/>
            <p class="error">{{confirm_error}}</p>
        </div>
    
        <div class="pure-control-group">
            <input name="user_email" placeholder="E-mail" type="text" value="{{user_email}}"/>
            <p class="error">{{email_error}}</p>
        </div>

        <div class="pure-control-group">
            <button type="submit" class="pure-button pure-button-primary">Submit</button>
        </div>
    
        </fieldset> 
        </form>
        </center>
        <br>
        <br>
        <br>
    <footer align="center">
        <span style="font-size: 14px;">&nbsp &copy; 2018 Lauren Nicole</span>
    </footer>
    
    </body>
</html>