<!DOCTYPE html>
<html>
    <head>
        <style>
                    body {
                          background-color: rgb(186, 190, 190); text-align: center;
                         }
                    
                    h1 {
                        color: rgb(255, 255, 255); text-align: center;
                       }
                    
                    p {
                        color: rgb(255, 255, 255); text-align: center;
                      }
        </style>
    </head>
        <body>
            <br>
            <br>
            <br>
            <br>
            <br>
            <h1><strong>Welcome, {{username}}!</strong></h1>
            <h3><p>Your account has been created.</p></h3>
        </body>

</html>